#dependencias de node js
node_modules/



#archivos y carpetas de compilacion
platforms/
plugin/
www/
build/

#archivos del entorno de desarrollo
.idea/
.vscode/
.DS_store
.env

#logs y reportes

*.log